* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:beige;
}
.main{
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
header{
    color: rgb(105, 66, 66);
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
}
.add-task{
    display: flex;
    margin-bottom:20px; 
    width:800px;   
}
.add-task input{
    flex:1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px 0 0 5px;
    background-color: white;
    color: black;
}
#addbtn{
    padding:10px 20px;
    font-size:16px;
    border: 1px solid white;
    color:rgb(105, 66, 66) ;
    border-radius: 0 5px 5px 0 ;
     cursor: pointer;
     transition: .5s;
}
.add-task button:hover {
    background-color:rgb(165, 143, 185);
}
#tasks{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.heading {  
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000000;
    width:800px;
}
#tasksbox {
    padding: 15px;
}

#tasksbox div{
    display:flex;
    width:100%;
    padding: 10px;
    column-gap: 10px;
}
#tasksbox div span{
    width: 100%;
    font-size:16px ;
}
#tasksbox div button{
    padding:10px 20px;
    border: none;
    border-radius: 10px;
     background-color:rgb(165, 143, 185);
    
}






